body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

/* input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
} */

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 10rem;
  border: #fff;
}


/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}